.card {
  width: 150px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: #000000b0;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  border-radius: 8px;
}

.card-name {
  margin-top: 8px;
  font-weight: 600;
}
